*,
*:before,
*:after {
    box-sizing: border-box;
}

.display-none {
	display: block;
}


body {
    background-image: url("../images/ryu-stage-background.jpg");
    width: 100%;
    height: auto;
}

.answer {
	background-color: darkgrey;
    border: thin solid black;
    margin: 5px;
    color: black;
}

.answer:hover {
	background-color: darkgrey;
    border: thin solid black;
    margin: 1px;
    box-shadow: 1px 1px 1px black;
   	cursor: pointer;

}

.game-body {
    background-color: rgba(22, 53, 159, .6);
    border: thin solid black;
    border-radius: 4px;
    height: 407px;
    width: 70%;
    color: white;
    margin: 10% 15% 10% 15%;
}
